* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --fundo-escuro: #000;
    --fundo-card: #1B2226;
    --fundo-card-ativo: hsla(0, 0%, 100%, 0.12);
    --texto-principal: hsla(0, 0%, 100%, 0.9);
    --texto-secundario: hsla(0, 0%, 100%, 0.6);
    --texto-escuro: hsla(0, 0%, 0%, 0.75);
    --input: #38434f;
    --primario: #70b5f9;
    --positivo: #3ec786;
  }
  
  .d-flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .section-background {
    background-color: var(--fundo-card);
  }

  .section-width {
      width: 780px;
  }

  main {
    height: 100vh;
    background-color: var(--fundo-escuro);
  }

